---
title: 'Project Two | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Project Two
    order: 3200
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

        <!-- ============================================ -->
        <!--                   Banner                     -->
        <!-- ============================================ -->

        <div id="banner-2285">
            <div class="cs-container">
                <span class="cs-int-title">Project Two</span>
                <p class="cs-text">
                    If you've read some of my posts or you're a recruiter/employer and wanted to know a bit more about me and my background, you're in the right place!
                </p>
                <div class="cs-breadcrumbs">
                    <a href="/" class="cs-link">Home</a>
                    <a href="/project-two" class="cs-link cs-active">Project Two</a>
                </div>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/blog/blog1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/blog/blog1.jpg">
                <img decoding="async" src="/assets/images/blog/blog1.jpg" alt="construction" width="1280" height="568" aria-hidden="true">
            </picture>
        </div>

    {% include 'components/cta.html' %}

{% endblock %}